<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>BufferedReaderWriterDemo.java</string>
		</array>
		<array>
			<string>BufferedStreamDemo.java</string>
		</array>
		<array>
			<string>ByteArrayStreamDemo.java</string>
		</array>
		<array>
			<string>CharArrayReaderWriterDemo.java</string>
		</array>
		<array>
			<string>DataStreamDemo.java</string>
		</array>
		<array>
			<string>FileDemo.java</string>
		</array>
		<array>
			<string>FileDemo.txt</string>
		</array>
		<array>
			<string>FileReaderWriterDemo.java</string>
		</array>
		<array>
			<string>FileStreamDemo.java</string>
		</array>
		<array>
			<string>Member.java</string>
		</array>
		<array>
			<string>ObjectStreamDemo.java</string>
		</array>
		<array>
			<string>PrintStreamDemo.java</string>
		</array>
		<array>
			<string>PushbackReaderDemo.java</string>
		</array>
		<array>
			<string>PushbackStreamDemo.java</string>
		</array>
		<array>
			<string>RandomAccessFileDemo.java</string>
		</array>
		<array>
			<string>ReaderDemo.java</string>
		</array>
		<array>
			<string>SequenceStreamDemo.java</string>
		</array>
		<array>
			<string>StreamDemo.java</string>
		</array>
		<array>
			<string>StreamReaderWriterDemo.java</string>
		</array>
		<array>
			<string>StreamTest.java</string>
		</array>
		<array>
			<string>StreamWriterDemo.java</string>
		</array>
		<array>
			<string>Student.java</string>
		</array>
		<array>
			<string>User.java</string>
		</array>
	</array>
</dict>
</plist>
