<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>AnalysisApp.java</string>
		</array>
		<array>
			<string>Application.java</string>
		</array>
		<array>
			<string>CustomClass.java</string>
		</array>
		<array>
			<string>CustomClass2.java</string>
		</array>
		<array>
			<string>Debug.java</string>
		</array>
		<array>
			<string>FunctionTest.java</string>
		</array>
		<array>
			<string>MethodAnnotation.java</string>
		</array>
		<array>
			<string>OneAnnotation.java</string>
		</array>
		<array>
			<string>Process.java</string>
		</array>
		<array>
			<string>SomeAnnotation.java</string>
		</array>
		<array>
			<string>SomeClass.java</string>
		</array>
		<array>
			<string>SomeClass2.java</string>
		</array>
		<array>
			<string>SomeClass3.java</string>
		</array>
		<array>
			<string>Something.java</string>
		</array>
		<array>
			<string>SomethingDemo.java</string>
		</array>
		<array>
			<string>ThreeAnnotation.java</string>
		</array>
		<array>
			<string>TwoAnnotation.java</string>
		</array>
		<array>
			<string>UnitTest.java</string>
		</array>
		<array>
			<string>UnitTest2.java</string>
		</array>
	</array>
</dict>
</plist>
