<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>AbstractCircle.java</string>
		</array>
		<array>
			<string>AbstractGuessGame.java</string>
		</array>
		<array>
			<string>Bird.java</string>
		</array>
		<array>
			<string>Cat.java</string>
		</array>
		<array>
			<string>Chicken.java</string>
		</array>
		<array>
			<string>CircleDemo.java</string>
		</array>
		<array>
			<string>CloneDemo.java</string>
		</array>
		<array>
			<string>ConcreteCircle.java</string>
		</array>
		<array>
			<string>Cubic.java</string>
		</array>
		<array>
			<string>ExtendDemo.java</string>
		</array>
		<array>
			<string>Foo1.java</string>
		</array>
		<array>
			<string>Foo2.java</string>
		</array>
		<array>
			<string>GuessGameDemo.java</string>
		</array>
		<array>
			<string>HelloRequest.java</string>
		</array>
		<array>
			<string>HollowCircle.java</string>
		</array>
		<array>
			<string>IRequest.java</string>
		</array>
		<array>
			<string>Point.java</string>
		</array>
		<array>
			<string>Rectangle.java</string>
		</array>
		<array>
			<string>RequestDemo.java</string>
		</array>
		<array>
			<string>SafeArray.java</string>
		</array>
		<array>
			<string>SimpleArray.java</string>
		</array>
		<array>
			<string>SimpleCollection.java</string>
		</array>
		<array>
			<string>SimpleCollectionDemo.java</string>
		</array>
		<array>
			<string>Table.java</string>
		</array>
		<array>
			<string>TextModeGame.java</string>
		</array>
		<array>
			<string>ToStringDemo.java</string>
		</array>
		<array>
			<string>WelcomeRequest.java</string>
		</array>
	</array>
</dict>
</plist>
