<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>BitwiseOperator.java</string>
		</array>
		<array>
			<string>BreakTest.java</string>
		</array>
		<array>
			<string>BufferedReaderDemo.java</string>
		</array>
		<array>
			<string>ComparisonOperator.java</string>
		</array>
		<array>
			<string>ConditionalOperator.java</string>
		</array>
		<array>
			<string>ContinueTest.java</string>
		</array>
		<array>
			<string>DataRange.java</string>
		</array>
		<array>
			<string>ErrDemo.java</string>
		</array>
		<array>
			<string>HelloJava.java</string>
		</array>
		<array>
			<string>HelloJavaForC.java</string>
		</array>
		<array>
			<string>IncrementDecrement.java</string>
		</array>
		<array>
			<string>IncrementDecrement2.java</string>
		</array>
		<array>
			<string>IncrementDecrement3.java</string>
		</array>
		<array>
			<string>LogicalOperator.java</string>
		</array>
		<array>
			<string>NineTable.java</string>
		</array>
		<array>
			<string>NineTable2.java</string>
		</array>
		<array>
			<string>NumberDemo.java</string>
		</array>
		<array>
			<string>OddDecider.java</string>
		</array>
		<array>
			<string>OddDecider2.java</string>
		</array>
		<array>
			<string>OddDecider3.java</string>
		</array>
		<array>
			<string>OddDecider4.java</string>
		</array>
		<array>
			<string>OutputUnicode.java</string>
		</array>
		<array>
			<string>ScannerDemo.java</string>
		</array>
		<array>
			<string>ScannerDemo2.java</string>
		</array>
		<array>
			<string>ScoreAverage.java</string>
		</array>
		<array>
			<string>ScoreLevel.java</string>
		</array>
		<array>
			<string>ScoreLevel2.java</string>
		</array>
		<array>
			<string>SecondJavaForC.java</string>
		</array>
		<array>
			<string>ShiftOperator.java</string>
		</array>
		<array>
			<string>SimpleLoopFor.java</string>
		</array>
		<array>
			<string>ThirdJavaForC.java</string>
		</array>
		<array>
			<string>TigerNumberDemo.java</string>
		</array>
		<array>
			<string>VariableDemo.java</string>
		</array>
		<array>
			<string>XorCode.java</string>
		</array>
	</array>
</dict>
</plist>
