<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>ArrayListDemo.java</string>
		</array>
		<array>
			<string>CustomComparator.java</string>
		</array>
		<array>
			<string>EnhancedForDemo.java</string>
		</array>
		<array>
			<string>EnumMapDemo.java</string>
		</array>
		<array>
			<string>EnumMapDemo2.java</string>
		</array>
		<array>
			<string>EnumSetDemo.java</string>
		</array>
		<array>
			<string>EnumSetDemo2.java</string>
		</array>
		<array>
			<string>HashMapDemo.java</string>
		</array>
		<array>
			<string>HashMapDemo2.java</string>
		</array>
		<array>
			<string>HashSetDemo.java</string>
		</array>
		<array>
			<string>IteratorDemo.java</string>
		</array>
		<array>
			<string>LinkedHashMapDemo.java</string>
		</array>
		<array>
			<string>LinkedHashSetDemo.java</string>
		</array>
		<array>
			<string>QueueDemo.java</string>
		</array>
		<array>
			<string>StringQueue.java</string>
		</array>
		<array>
			<string>StringQueueDemo.java</string>
		</array>
		<array>
			<string>StringStack.java</string>
		</array>
		<array>
			<string>StringStackDemo.java</string>
		</array>
		<array>
			<string>TreeMapDemo.java</string>
		</array>
		<array>
			<string>TreeMapDemo2.java</string>
		</array>
		<array>
			<string>TreeSetDemo.java</string>
		</array>
		<array>
			<string>TreeSetDemo2.java</string>
		</array>
	</array>
</dict>
</plist>
