<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>AdvancedArray.java</string>
		</array>
		<array>
			<string>AdvancedArray2.java</string>
		</array>
		<array>
			<string>ArrayCopy.java</string>
		</array>
		<array>
			<string>ArrayCopy2.java</string>
		</array>
		<array>
			<string>ArrayDemo.java</string>
		</array>
		<array>
			<string>ArraysMethodDemo.java</string>
		</array>
		<array>
			<string>ArraysMethodDemo2.java</string>
		</array>
		<array>
			<string>AverageInput.java</string>
		</array>
		<array>
			<string>NewArraysDemo.java</string>
		</array>
		<array>
			<string>SimpleArray.java</string>
		</array>
		<array>
			<string>SimpleArray2.java</string>
		</array>
		<array>
			<string>TestArrayValue.java</string>
		</array>
		<array>
			<string>TwoDimArray.java</string>
		</array>
		<array>
			<string>TwoDimArray2.java</string>
		</array>
		<array>
			<string>TwoDimArray3.java</string>
		</array>
	</array>
</dict>
</plist>
