<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>ArrayDemo.java</string>
		</array>
		<array>
			<string>ArrayElementDemo.java</string>
		</array>
		<array>
			<string>AssignFieldDemo.java</string>
		</array>
		<array>
			<string>ClassDemo.java</string>
		</array>
		<array>
			<string>ClassDemo2.java</string>
		</array>
		<array>
			<string>ClassInfoDemo.java</string>
		</array>
		<array>
			<string>ClassLoaderDemo.java</string>
		</array>
		<array>
			<string>CommandUtil.java</string>
		</array>
		<array>
			<string>CommandUtilDemo.java</string>
		</array>
		<array>
			<string>ForNameDemo.java</string>
		</array>
		<array>
			<string>ForNameDemoV1.java</string>
		</array>
		<array>
			<string>ForNameDemoV2.java</string>
		</array>
		<array>
			<string>ForNameDemoV3.java</string>
		</array>
		<array>
			<string>HelloSpeaker.java</string>
		</array>
		<array>
			<string>IHello.java</string>
		</array>
		<array>
			<string>InvokeMethodDemo.java</string>
		</array>
		<array>
			<string>LoadClassTest.java</string>
		</array>
		<array>
			<string>LogHandler.java</string>
		</array>
		<array>
			<string>NewArrayDemo.java</string>
		</array>
		<array>
			<string>NewArrayDemo2.java</string>
		</array>
		<array>
			<string>NewInstanceDemo.java</string>
		</array>
		<array>
			<string>NewInstanceDemo2.java</string>
		</array>
		<array>
			<string>ProxyDemo.java</string>
		</array>
		<array>
			<string>SimpleClassViewer.java</string>
		</array>
		<array>
			<string>SomeClass.java</string>
		</array>
		<array>
			<string>Student.java</string>
		</array>
		<array>
			<string>TestClass.java</string>
		</array>
		<array>
			<string>TestClass2.java</string>
		</array>
		<array>
			<string>TestField.java</string>
		</array>
	</array>
</dict>
</plist>
